<h1>Quiz Result</h1>
<h2>Question word is <%= @quiz.question %></h2>
<p>True <%= @true_count %></p>
<p>False <%= @false_count %></p>
<p>Total <%= @total_count %></p>
<br>
<p><b><%= link_to 'Next Question!', :controller => :english, :action => :study %></b></p>
