<h1>Study</h1>
<h2>What does this word mean?</h2>
<p>Question</p>
<h3><%= @quiz.question %></h3>
<p>Answer</p>
<%= form_for @user_quiz, :url=>{:action => "answer"} do |f| %>
  <% if @user_quiz.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@user_quiz.errors.count, "error") %> prohibited from being saved:</h5>
      <% @user_quiz.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <p>a. <%= f.radio_button :answer, "a" %><%= @quiz.answer_a %></p>
  </div>
  <div class="field">
    <p>b. <%= f.radio_button :answer, "b" %><%= @quiz.answer_b %></p>
  </div>
  <div class="field">
    <p>c. <%= f.radio_button :answer, "c" %><%= @quiz.answer_c %></p>
  </div>
  <div class="field">
    <p>d. <%= f.radio_button :answer, "d" %><%= @quiz.answer_d %></p>
  </div>
  <%= f.hidden_field :quiz_id, :value=>@quiz.id %>
  <div class="actions">
    <%= f.submit value="Answer!"%>
  </div>
<% end %>
