<h1>Study</h1>
<h2>What does this word mean?</h2>
<p>Question</p>
<h3><%= @quiz.question %></h3>
<p>Answer</p>
<%= form_for @user_quiz, :url=>{:action => "answer"} do |f| %>
  <% if @user_quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_quiz.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @user_quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    a. <%= f.radio_button :answer, "a" %><%= @quiz.answer_a %>
  </div>
  <div class="field">
    b. <%= f.radio_button :answer, "b" %><%= @quiz.answer_b %>
  </div>
  <div class="field">
    c. <%= f.radio_button :answer, "c" %><%= @quiz.answer_c %>
  </div>
  <div class="field">
    d. <%= f.radio_button :answer, "d" %><%= @quiz.answer_d %>
  </div>
  <%= f.hidden_field :quiz_id, :value=>@quiz.id %>
  <div class="actions">
    <%= f.submit value="Answer!"%>
  </div>
<% end %>
